header ul li {
  margin-left: 30px;
}
header ul li a {
  transition: 0.5s;

  font-weight: 400;
}
header ul li a:hover {
  color: #ff014f;
}

.open {
  display: none;
}



/* Add this CSS to your stylesheet */
.cross-icon {
  opacity: 0;
  transition: opacity 0.45s ease;
}

.visiable {

  opacity: 1;
}


.sticky {
  position: fixed;
  animation: slide-down 0.8s ease-in-out;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.forHover:hover h3{
color: #000;
}
.forHover:hover svg{
color: #000;
}